<div class='container'>
  <div class='header-container'>
    <h3 class='app-title'>Add your recipes here</h2>
    <button type="button" data-toggle="modal" data-target="#new-recipe-modal" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></button>
  </div>
  <div class='divider-sm'></div>
  <%= render partial: 'recipes/partials/new_recipe_modal' %>
  <table class='table'>
    <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody id='recipes-container'>
      <%= render partial: 'recipes/partials/recipes_table', locals: { recipes: @recipes } %>
    </tbody>
  </table>
</div>