/*
 * COLORS
 */
$user-success: #4f8a10;
$user-warning: #9f6000;
$user-error: #d8000c;
$user-info: #00529b;
$user-white: #fff;

/*
 * BACKGROUND COLORS
 */
$background-white: #fff;
$background-black: #000;
$background-info: #bde5f8;
$background-success: #dff2bf;
$background-warning: #feefb3;
$background-red-error: #d8000c;
$background-error: #ffd2d2;
/*
  * FONT SIZES
  */
$font-size-1: 14px;
$font-size-2: 15px;
$font-size-3: 16px;
$font-size-4: 18px;

/*
  * Z-LEVELS
  */
$z-level-1: 100;
$z-level-2: 200;
$z-level-3: 300;
$z-level-4: 400;
$z-level-5: 500;
$z-level-6: 600;
$z-level-7: 700;
$z-level-8: 800;
$z-level-9: 900;
